* {
    margin: 0px;
    padding: 0px;
}

#top-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 4px 2px rgb(17 16 16 / 50%);
    padding: 15px 0;
    min-height: 8vh;
    position: fixed;
    z-index: 50;
    background-color: #fff;
}

.logo h4 {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    cursor: pointer;
}

.logo h4 span {
    color: #009688;
    letter-spacing: 1px;
    font-weight: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 30%;
    padding-top: 12px;
}

.nav-links li {
    text-decoration: none;
    font-size: 14px;
    color: rgb(27, 25, 25);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.icons {
    display: flex;
    padding-top: 10px;
    color: rgb(27, 25, 25);
}

.icons .cart {
    position: relative;
}

.icons i {
    padding-top: 8px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 50px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icons .cart a span {
    color: #fff;
    background-color: #009688;
    border-radius: 50%;
    font-size: 14px;
    padding: 5px 8px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 425px) {
    body {
        overflow-x: hidden;
    }

    .logo a h4 {
        font-size: 24px;
    }

    .icons i {
        padding-top: 6px;
        font-size: 20px;
        margin-right: 20px;
    }

    .icons .cart {
        margin-right: 15px;
    }

    .burger {
        padding-top: 2px;
    }
}